| {% extends "base.pug" %}

| {% block content %}

table.table.table-striped.table-bordered.table-sm
  thead.thead-dark
    tr
      th Title
      th Last update
      th 
  tbody

    | {% for note in notes %}
    
    tr
      td {{ note.title }}
      td {{ note.timestamp }}
      td
        button.bi.bi-pencil-square.btn.btn-primary(
          type='button'
          onclick='onEditButtonClick({{ note.id }})'
          data-toggle='tooltip'
          data-placement='top'
          title='Update Note'
        )
        button.bi.bi-x-circle.btn.btn-danger(
          type='button'
          onclick='onDeleteButtonClick({{ note.id }})'
          data-toggle='tooltip'
          data-placement='top'
          title='Delete Note'
        )

    | {% endfor %}

br
br
center
  a.btn.btn-success(href='/notes/note_create_form/') Create

script.
  const onEditButtonClick = function(id) {
    window.location = `/notes/note_edit/${id}`
  }
  const onDeleteButtonClick = function(id) {
    const confirmDelete = confirm('Are you sure you want delete this note ?')
    if (confirmDelete) {
      window.location = `/notes/note_delete/${id}`      
    }
  }

| {% endblock content %}
